<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>typeName</key>
		<string>二进制文件</string>
		<key>suffix</key>
		<array>
			<string>db</string>
			<string>sqlite</string>
			<string>log</string>
			<string>sql</string>
			<string>data</string>
		</array>
		<key>iconName</key>
		<string>binary</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>小程序包</string>
		<key>suffix</key>
		<array>
			<string>wgt</string>
		</array>
		<key>iconName</key>
		<string>wgt</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>eps</string>
		<key>suffix</key>
		<array>
			<string>eps</string>
		</array>
		<key>typeName</key>
		<string>图像格式文件</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>psd</string>
		<key>suffix</key>
		<array>
			<string>psd</string>
		</array>
		<key>typeName</key>
		<string>Photoshop Document</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>flash</string>
		<key>suffix</key>
		<array>
			<string>flash</string>
		</array>
		<key>typeName</key>
		<string>flash</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>link</string>
		<key>suffix</key>
		<array>
			<string>link</string>
		</array>
		<key>typeName</key>
		<string>链接文件</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>zip</string>
		<key>suffix</key>
		<array>
			<string>hyp</string>
			<string>hpk</string>
			<string>hbe</string>
			<string>hbc2</string>
			<string>hbc</string>
			<string>ha</string>
			<string>f</string>
			<string>cpgz</string>
			<string>dar</string>
			<string>car</string>
			<string>bz</string>
			<string>ar</string>
			<string>apz</string>
			<string>7z</string>
			<string>rar</string>
			<string>zip</string>
		</array>
		<key>typeName</key>
		<string>压缩文件</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>visio</string>
		<key>suffix</key>
		<array>
			<string>visio</string>
		</array>
		<key>typeName</key>
		<string>visio</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>unknown</string>
		<key>suffix</key>
		<array>
			<string>unknown</string>
		</array>
		<key>typeName</key>
		<string>未知文件</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>xml</string>
		<key>suffix</key>
		<array>
			<string>plist</string>
			<string>xml</string>
		</array>
		<key>typeName</key>
		<string>配置文件</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>txt</string>
		<key>suffix</key>
		<array>
			<string>txt</string>
		</array>
		<key>typeName</key>
		<string>TXT文本</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>rtf</string>
		<key>suffix</key>
		<array>
			<string>rtf</string>
		</array>
		<key>typeName</key>
		<string>多文本格式</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>gpres</string>
		<key>suffix</key>
		<array>
			<string>gpres</string>
		</array>
		<key>typeName</key>
		<string>gpres</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>gsheet</string>
		<key>suffix</key>
		<array>
			<string>gsheet</string>
		</array>
		<key>typeName</key>
		<string>gsheet</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>box_notes</string>
		<key>suffix</key>
		<array>
			<string>config</string>
			<string>md</string>
			<string>json</string>
			<string>js</string>
		</array>
		<key>typeName</key>
		<string>文档</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>exe</string>
		<key>suffix</key>
		<array>
			<string>exe</string>
		</array>
		<key>typeName</key>
		<string>Windows可执行文件</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>excel</string>
		<key>suffix</key>
		<array>
			<string>xlsx</string>
			<string>xls</string>
		</array>
		<key>typeName</key>
		<string>Microsoft Office EXCEL</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>gform</string>
		<key>suffix</key>
		<array>
			<string>gform</string>
		</array>
		<key>typeName</key>
		<string>gform</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>html</string>
		<key>suffix</key>
		<array>
			<string>htm</string>
			<string>html</string>
		</array>
		<key>typeName</key>
		<string>超文本标记语言</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>stypi</string>
		<key>suffix</key>
		<array>
			<string>stypi</string>
		</array>
		<key>typeName</key>
		<string>stypi</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>gdoc</string>
		<key>suffix</key>
		<array>
			<string>gdoc</string>
		</array>
		<key>typeName</key>
		<string>gdoc</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>video</string>
		<key>suffix</key>
		<array>
			<string>mov</string>
			<string>3gp</string>
			<string>mod</string>
			<string>ogg</string>
			<string>vob</string>
			<string>mkv</string>
			<string>mpe</string>
			<string>wmv</string>
			<string>mpeg</string>
			<string>mpg</string>
			<string>divx</string>
			<string>asf</string>
			<string>rm</string>
			<string>rmvb</string>
			<string>avi</string>
		</array>
		<key>typeName</key>
		<string>视频文件</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>webex</string>
		<key>suffix</key>
		<array>
			<string>webex</string>
		</array>
		<key>typeName</key>
		<string>webex</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>audio</string>
		<key>suffix</key>
		<array>
			<string>m4a</string>
			<string>ima4</string>
			<string>ilbc</string>
			<string>alac</string>
			<string>e-ac-3</string>
			<string>ac-3</string>
			<string>he-aac</string>
			<string>aac</string>
			<string>ape</string>
			<string>vqf</string>
			<string>ra</string>
			<string>mid</string>
			<string>wma</string>
			<string>flac</string>
			<string>aiff</string>
			<string>aif</string>
			<string>wav</string>
		</array>
		<key>typeName</key>
		<string>音频文件</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>pack</string>
		<key>suffix</key>
		<array>
			<string>pack</string>
		</array>
		<key>typeName</key>
		<string>pack</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>overlay</string>
		<key>suffix</key>
		<array>
			<string>overlay</string>
		</array>
		<key>typeName</key>
		<string>overlay</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>pdf</string>
		<key>suffix</key>
		<array>
			<string>pdf</string>
		</array>
		<key>typeName</key>
		<string>PDF</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>keynote</string>
		<key>suffix</key>
		<array>
			<string>keynote</string>
		</array>
		<key>typeName</key>
		<string>keynote</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>ppt</string>
		<key>suffix</key>
		<array>
			<string>pptx</string>
			<string>ppt</string>
		</array>
		<key>typeName</key>
		<string>幻灯片</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>attachment</string>
		<key>suffix</key>
		<array>
			<string>attachment</string>
		</array>
		<key>typeName</key>
		<string>attachment</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>ai</string>
		<key>suffix</key>
		<array>
			<string>ai</string>
		</array>
		<key>typeName</key>
		<string>ai</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>slide</string>
		<key>suffix</key>
		<array>
			<string>slide</string>
		</array>
		<key>typeName</key>
		<string>slide</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>mp4</string>
		<key>suffix</key>
		<array>
			<string>mp4</string>
		</array>
		<key>typeName</key>
		<string>mp4</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>word</string>
		<key>suffix</key>
		<array>
			<string>word</string>
		</array>
		<key>typeName</key>
		<string>word</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>csv</string>
		<key>suffix</key>
		<array>
			<string>csv</string>
		</array>
		<key>typeName</key>
		<string>csv</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>image</string>
		<key>suffix</key>
		<array>
			<string>bmp</string>
			<string>gif</string>
			<string>png</string>
			<string>jpeg</string>
			<string>jpg</string>
		</array>
		<key>typeName</key>
		<string>image</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>gdocs</string>
		<key>suffix</key>
		<array>
			<string>gdocs</string>
		</array>
		<key>typeName</key>
		<string>gdocs</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>pages</string>
		<key>suffix</key>
		<array>
			<string>pages</string>
		</array>
		<key>typeName</key>
		<string>pages</string>
	</dict>
</array>
</plist>
